/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1366px) {
	
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
	#logo a img {
	    max-height: 40px;
	}
	#mainnav > ul > li > a {
		letter-spacing: 0;
	}
}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
	h1 { font-size: 32px;line-height:37px ;}
	h2 { font-size: 25px;line-height:30px ;}
	h3 { font-size: 22px;line-height:27px ;}
	h4 { font-size: 18px;line-height:26px ;}
	h5 { font-size: 16px;line-height:22px ;}
	h6 { font-size: 14px;line-height:18px ;}

}

/* Tablet Landscape */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#mainnav > ul > li > a {
	    font-size: 14px !important;
	    padding: 0 9px !important;
	}
}

@media only screen and (max-width: 991px) {
	.about-content {
	    padding-top: 0;
	    padding-left: 0;
	    padding-right: 0;
	}

	.cafe-imagesbox .imagesbox .imagesbox-content .name a {
		font-size: 65px;
	}

	.container.style .col-md-9,
	.container.style .col-md-3 {
		flex: 0 0 100%;
    	max-width: 100%;
    	width: 100%;
	}

	.dreampages-slider .dr-slider .slider-content {
		padding: 30px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big {
		margin-bottom: 70px;
	}

	.sidebar-right {
	    margin-left: 0;
	}

	.ad-space-widget .ad-space-text .ad-text {
		padding: 35px 0;
	}
}

/* All Mobile Sizes */
@media only screen and (max-width: 768px) {
	.wrap-slider.home #header {
		padding: 0;
	}

	.dreampages-slider .dr-slider .slider-content .title-big {
		font-size: 70px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big span {
		font-size: 100px;
	}

	.dreampages-slider .dr-slider .slider-content a {
		padding: 15px 25px;
	}

	.flat-row.padding-bottom0px {
		padding-top: 0;
	}

	.top-search.show {
		top: 56px;
	}
}

@media only screen and (max-width: 667px) {
	.btn-menu {
		display: block;
	}

	.about-img {
		text-align: center;
	}

	.about-content {
		padding-top: 25px;
	}

	.cafe-imagesbox .imagesbox {
		width: 100%;
	}

	.flat-row {
		padding: 20px 0;
	}

	.dreampages-slider .dr-slider .slider-content .title-small {
		font-size: 30px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big {
	    font-size: 50px;
	    margin-bottom: 45px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big span {
	    font-size: 70px;
	}

	.title-slider span {
	    display: inline-block;
	}

	.sub-title-slider span {
	    display: inline-block;
	}
}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/* Mobile Portrait Size */
@media only screen and (max-width: 480px) {
	.footer .search-form {
		text-align: left;
	}

	.footer .search-field {
		width: 100%;
		margin-bottom: 10px;
	}

	.footer .search-submit {
		margin-left: 0;
	}

	.footer .widget-text .widget-content {
		font-size: 26px;
	}

	.dreampages-slider .dr-slider .slider-content .title-small {
	    margin-bottom: 5px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big {
	    margin-bottom: 35px;
	}

	.widget_input_mail_content input[type="text"] {
		width: 100%;
	}

	.title-section {
		font-size: 28px;
	}

	.inspired-dreams {
	    padding-top: 20px;
	}

	.dream-interpretations {
	    padding-top: 25px;
	}

	.button-slider.flat-button {
		background: transparent;
		padding-left: 0;
	}

	.button-slider.flat-button a {
		color: #000;
		padding-left: 0;
	}
}

@media only screen and (max-width: 375px) {
	.dreampages-slider .dr-slider .slider-content {
	    padding: 15px;
	}

	.dreampages-slider .dr-slider .slider-content .title-small {
	    font-size: 30px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big {
	    font-size: 40px;
	    margin-bottom: 25px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big span {
	    font-size: 55px;
	}

	.dreampages-slider .dr-slider .slider-content a {
	    padding: 10px 15px;
	}

	.title-section {
	    font-size: 18px;
	    margin-bottom: 15px;
	}

	.dream-interpretations .dream-interpretations-content .dream-int-title a {
		font-size: 18px;
	}

	.main-left-content {
	    padding: 0 15px;
	}

	.widget_input_mail_content {
	    padding: 20px 0px;
	}

	.sidebar-right {
		padding: 15px;
	}

	.ad-space-widget .ad-space-text {
	    margin: 0 -15px;
	}
}

@media only screen and (max-width: 320px) {
	.cafe-imagesbox .imagesbox .imagesbox-content .name a {
	    font-size: 50px;
	}

	.cafe-imagesbox .imagesbox .imagesbox-content .title a {
		font-size: 24px;
	}

	.footer .copyright {
		font-size: 16px;
	}

	.dreampages-slider .dr-slider .slider-content .title-small {
	    font-size: 22px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big {
	    font-size: 30px;
	    margin-bottom: 15px;
	}

	.dreampages-slider .dr-slider .slider-content .title-big span {
	    font-size: 45px;
	}

	.pagination a {
		padding: 1px 10px;
		margin-right: 7px;
	}
}