/*Columns difine 
--------------------------------------------------------------*/

.two-columns .entry{
    width: 50%;
}

.three-columns .entry{
    width: 33.33%;
}

.four-columns .entry{
    width: 25%;
}

.five-columns .entry{
    width: 20%;
}

.two-columns .entry,
.three-columns .entry,
.four-columns .entry,
.five-columns .entry {
    float: left;
    padding: 0 15px;
}

.two-columns ,
.three-columns ,
.four-columns ,
.five-columns  {
    overflow: hidden;
}


/* Row
-------------------------------------------------------------- */
.flat-row {
    clear: both;
    display: block;
    position: relative;
    padding: 50px 0;
}

.padding-top85px {
    padding-top: 85px;
}

/*Button
----------------------------------------------------------------*/
.flat-button {  
    text-align: left;
    overflow: hidden;
    position: relative;
    display: inline-block;
    font-family: "Proxima Nova", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    z-index: 1;
    padding: 10px 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 27px;
}

.flat-button:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    content: "";
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);    
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;  
}

.flat-button:hover:before {     
    background: #859c33;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}   


.flat-button.background-blue {
    background-color: #859c33;
    border-color: #859c33;
    letter-spacing: 1px;
}


.flat-button.background-blue:hover {
    color: #859c33;
}

.flat-button.background-blue:before {
    background-color: #fff;
}

.flat-button.background-blue.hover-white {
    border-color: #ffffff;
}

/*Widget Social network
--------------------------------------------------------------------*/
.widget-social ul li a {
    position: relative;
    top: 0;
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-image: url(../images/icon/icon-facebook.png);
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 0.1s ease-out;
       -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
         -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;  
}

.widget-social ul li a:hover {
    top: -5px;
}
.widget-social ul li a.insgram {
    background-image: url(../images/icon/icon-in.png);
}
.widget-social ul li a.google {
    background-image: url(../images/icon/icon-google.png);
}
.widget-social ul li a.twiter {
    background-image: url(../images/icon/icon-twiter.png);
}
.widget-social ul li a.rss {
    background-image: url(../images/icon/icon-rss.png);
}

.widget-social ul li {
    display: inline-block;
}

/* Divider
-------------------------------------------------------------- */
.divider {
	position: relative;
	width: 100%;
    overflow: hidden;
}

.divider.divider20{
	height: 20px;
}

.divider.divider30{
	height: 30px;
}
.divider.divider40{
    height: 40px;
}

.divider.divider50{
	height: 50px;
}
.divider.divider100{
	height: 100px;
}

/* Hover images
-------------------------------------------------------------- */
.images-hover:hover img {
    -webkit-animation: hoverimg 0.3s linear;
    animation: hoverimg 0.3s linear;
}

@-webkit-keyframes hoverimg {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hoverimg {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Imagesbox
---------------------------------------------------------------*/
.cafe-imagesbox {
    margin: 0 -20px;
}

.cafe-imagesbox .imagesbox {
    width: 50%;
    float: left;
    padding: 0 20px;
    height: 353px;
    position: relative;
    margin-bottom: 40px;
}

.cafe-imagesbox .imagesbox .featured-box {
    overflow: hidden;
}

.cafe-imagesbox .imagesbox .featured-box a {
    position: relative;
    display: block;
}

.cafe-imagesbox .imagesbox .featured-box a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    filter: alpha(opacity=40);
    background: linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -moz-linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -o-linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -ms-linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -webkit-linear-gradient(bottom, #000000 0%, #6E6E6E 100%);
}

.cafe-imagesbox .imagesbox .featured-box a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
}

.cafe-imagesbox .imagesbox .featured-box a span:before, 
.cafe-imagesbox .imagesbox .featured-box a span:after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.cafe-imagesbox .imagesbox .featured-box a span:before {
    border-top: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    top: 50px;
}

.cafe-imagesbox .imagesbox .featured-box a span:after {
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    left: 50px;
}

.cafe-imagesbox .imagesbox:hover .featured-box a span:before, 
.cafe-imagesbox .imagesbox:hover .featured-box a span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cafe-imagesbox .imagesbox .featured-box img {
    height: 353px;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; 
}

.cafe-imagesbox .imagesbox .imagesbox-content {
    position: absolute;
    bottom: 45px;
    right: 60px;
    text-align: center;
}

.cafe-imagesbox .imagesbox.style2 .imagesbox-content {
    bottom: 65px;
}

.cafe-imagesbox .imagesbox .imagesbox-content .title {
    margin-bottom: 0;
}

.cafe-imagesbox .imagesbox .imagesbox-content .title a {
    font-size: 34.1px;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.cafe-imagesbox .imagesbox .imagesbox-content .name a {
    font-family: "bromello", sans-serif;
    font-size: 83.13px;
    color: #fff;
    font-weight: 400;
    line-height: 60px;
}

.cafe-imagesbox .imagesbox.style1 .imagesbox-content .name {
    padding-bottom: 25px;
}

/* Imagesbox style */
.cafe-imagesbox.style {
    padding-top: 77px;
}

.cafe-imagesbox.style .imagesbox {
    height: auto;
}

.cafe-imagesbox.style .imagesbox .featured-box img {
    height: auto;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.cafe-imagesbox.style .imagesbox .imagesbox-content {
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -50px;
}

.cafe-imagesbox.style .imagesbox .imagesbox-content .title a {
    font-size: 24.18px;
}

.cafe-imagesbox .imagesbox.style1 .imagesbox-content .name.dream-tools {
    padding-left: 50px;
}

.cafe-imagesbox.style .imagesbox .imagesbox-content .name a {
    font-size: 58.93px;
    line-height: 25px;
}

.cafe-imagesbox.style .imagesbox .featured-box a span:before {
    border-bottom: 1px solid #fff;
    top: 30px;
}

.cafe-imagesbox.style .imagesbox .featured-box a span:after {
    border-right: 1px solid #fff;
    left: 30px;
}

.cafe-imagesbox.style .imagesbox .featured-box a:before {
    content: none;
}

/* Dream pages slider
---------------------------------------------------------------*/
.dreampages-slider .dr-slider {
    position: relative;
    cursor: e-resize;
}

.dreampages-slider .dr-slider .slider-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 95px;
}

.dreampages-slider .dr-slider .slider-content .title-small {
    font-size: 43.7px;
    font-family: "ProximaNova-Regular", sans-serif;
    color: #fff;
    font-weight: 400;
}

.dreampages-slider .dr-slider .slider-content .title-big {
    font-size: 91.37px;
    color: #fff;
    font-family: "ProximaNova-Bold", sans-serif;
    margin-bottom: 85px;
}

.dreampages-slider .dr-slider .slider-content .title-big span {
    font-size: 120.4px;
    font-family: "bromello", sans-serif;
    font-weight: 400;
    line-height: 7px;
}

.dreampages-slider .dr-slider .slider-content a {
    padding: 20px 45px;
    font-size: 15.18px;
    font-family: "ProximaNova-Bold", sans-serif;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
}

/* Title section
---------------------------------------------------------------*/
.title-section {
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 33.33px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 35px;
}

/* Inspired dreams
---------------------------------------------------------------*/
.inspired-dreams-slider {
    position: relative;
}

.inspired-dreams {
    padding-top: 45px;
}

.inspired-dreams .ins-slider-item {
    position: relative;
    text-align: center;
}

.inspired-dreams .ins-slider-item .featured-img a {
    position: relative;
    display: block;
}

.inspired-dreams .ins-slider-item .featured-img a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 99999;
    -webkit-opacity: 0.6;
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter: alpha(opacity=60);
    background: linear-gradient(to top, #000000 0%, #FFFFFF 100%); 
    background: -moz-linear-gradient(to top, #000000 0%, transparent 100%); 
    background: -o-linear-gradient(to top, #000000 0%, transparent 100%); 
    background: -ms-linear-gradient(to top, #000000 0%, transparent 100%); 
    background: -webkit-linear-gradient(bottom, #000000 0%, transparent 100%);
}

.inspired-dreams .ins-slider-item .ins-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
}

.inspired-dreams .ins-slider-item .ins-content a {
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 12.5px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    position: relative;
}

.inspired-dreams .ins-slider-item .ins-content a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    filter: alpha(opacity=40);
}

.inspired-dreams-slider.owl-theme .owl-controls .owl-nav div {
    width: 30px;
    -webkit-opacity: 0.8;
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter: alpha(opacity=80);
}

/* Dream interpretations
---------------------------------------------------------------*/
.dream-interpretations {
    padding-top: 70px;
}

.dream-interpretations .dream-interpretations-content .featured-img {
    margin-bottom: 27px;
}

.dream-interpretations .dream-interpretations-content .dream-int-title a {
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 25px;
    color: #000;
}

.dream-interpretations .dream-interpretations-content .dream-int-text {
    font-size: 19.44px;
    letter-spacing: 0.7px;
    font-weight: 400;
    margin-bottom: 30px;
}

.dream-interpretations .dream-interpretations-content .dream-int-text span {
    color: #e06416;
}

.pagination a {
    display: block;
    padding: 5px 14px;
    color: #555555;
    font-size: 22.22px;
    border: 2px solid #e2e2e2;
    background-color: #f7f7f7;
    margin-right: 15px;
    -webkit-opacity: 0.5;
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
}

.pagination a.active,
.pagination a:hover {
    border: 2px solid #b7b7b7;
    background-color: #ffffff;
    color: #e06416;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}

