/*Columns difine 
--------------------------------------------------------------*/

.two-columns .entry{
    width: 50%;
}

.three-columns .entry{
    width: 33.33%;
}

.four-columns .entry{
    width: 25%;
}

.five-columns .entry{
    width: 20%;
}

.two-columns .entry,
.three-columns .entry,
.four-columns .entry,
.five-columns .entry {
    float: left;
    padding: 0 15px;
}

.two-columns ,
.three-columns ,
.four-columns ,
.five-columns  {
    overflow: hidden;
}


/* Row
-------------------------------------------------------------- */
.flat-row {
    clear: both;
    display: block;
    position: relative;
    padding: 50px 0;
}

.padding-top85px {
    padding-top: 85px;
}

/*Button
----------------------------------------------------------------*/
.flat-button {  
    text-align: left;
    overflow: hidden;
    position: relative;
    display: inline-block;
    font-family: "Proxima Nova", sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    z-index: 1;
    padding: 10px 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 27px;
}

.flat-button:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    content: "";
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);    
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;  
}

.flat-button:hover:before {     
    background: #859c33;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}   


.flat-button.background-blue {
    background-color: #859c33;
    border-color: #859c33;
    letter-spacing: 1px;
}


.flat-button.background-blue:hover {
    color: #859c33;
}

.flat-button.background-blue:before {
    background-color: #fff;
}

.flat-button.background-blue.hover-white {
    border-color: #ffffff;
}

/*Widget Social network
--------------------------------------------------------------------*/
.widget-social ul li a {
    position: relative;
    top: 0;
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-image: url(../images/icon/icon-facebook.png);
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 0.1s ease-out;
       -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
         -o-transition: all 0.1s ease-out;
            transition: all 0.1s ease-out;  
}

.widget-social ul li a:hover {
    top: -5px;
}
.widget-social ul li a.insgram {
    background-image: url(../images/icon/icon-in.png);
}
.widget-social ul li a.google {
    background-image: url(../images/icon/icon-google.png);
}
.widget-social ul li a.twiter {
    background-image: url(../images/icon/icon-twiter.png);
}
.widget-social ul li a.rss {
    background-image: url(../images/icon/icon-rss.png);
}

.widget-social ul li {
    display: inline-block;
}

/* Divider
-------------------------------------------------------------- */
.divider {
	position: relative;
	width: 100%;
    overflow: hidden;
}

.divider.divider20{
	height: 20px;
}

.divider.divider30{
	height: 30px;
}
.divider.divider40{
    height: 40px;
}

.divider.divider50{
	height: 50px;
}
.divider.divider100{
	height: 100px;
}

/* Hover images
-------------------------------------------------------------- */
.images-hover:hover img {
    -webkit-animation: hoverimg 0.3s linear;
    animation: hoverimg 0.3s linear;
}

@-webkit-keyframes hoverimg {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes hoverimg {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.a img {
    -webkit-transform: scale(1.2) rotate(7deg);
    -moz-transform: scale(1.2) rotate(7deg);
    -o-transform: scale(1.2) rotate(7deg);
    -ms-transform: scale(1.2) rotate(7deg);
    transform: scale(1.2) rotate(7deg);
}

/* Imagesbox
---------------------------------------------------------------*/
.cafe-imagesbox {
    margin: 0 -20px;
}

.cafe-imagesbox .imagesbox {
    width: 50%;
    float: left;
    padding: 0 20px;
    height: 353px;
    position: relative;
    margin-bottom: 40px;
}

.cafe-imagesbox .imagesbox .featured-box {
    overflow: hidden;
}

.cafe-imagesbox .imagesbox .featured-box a {
    position: relative;
    display: block;
}

.cafe-imagesbox .imagesbox .featured-box a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    filter: alpha(opacity=40);
    background: linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -moz-linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -o-linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -ms-linear-gradient(to top, #000000 0%, #6E6E6E 100%); 
    background: -webkit-linear-gradient(bottom, #000000 0%, #6E6E6E 100%);
}

.cafe-imagesbox .imagesbox .featured-box a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
}

.cafe-imagesbox .imagesbox .featured-box a span:before, 
.cafe-imagesbox .imagesbox .featured-box a span:after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.cafe-imagesbox .imagesbox .featured-box a span:before {
    border-top: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    top: 50px;
}

.cafe-imagesbox .imagesbox .featured-box a span:after {
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    left: 50px;
}

.cafe-imagesbox .imagesbox:hover .featured-box a span:before, 
.cafe-imagesbox .imagesbox:hover .featured-box a span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cafe-imagesbox .imagesbox .featured-box img {
    height: 353px;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; 
}

.cafe-imagesbox .imagesbox .imagesbox-content {
    position: absolute;
    bottom: 45px;
    right: 60px;
    text-align: center;
}

.cafe-imagesbox .imagesbox.style2 .imagesbox-content {
    bottom: 65px;
}

.cafe-imagesbox .imagesbox .imagesbox-content .title {
    margin-bottom: 0;
}

.cafe-imagesbox .imagesbox .imagesbox-content .title a {
    font-size: 34.1px;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.cafe-imagesbox .imagesbox .imagesbox-content .name a {
    font-family: "bromello", sans-serif;
    font-size: 83.13px;
    color: #fff;
    font-weight: 400;
    line-height: 60px;
}

.cafe-imagesbox .imagesbox.style1 .imagesbox-content .name {
    padding-bottom: 25px;
}

